{% macro mul(val) %}
<td> {{ val }} </td>
{% endmacro %}

<table border='1'>
    {% for row in rows %}
    <TR>
        {% for col in row %}
            {{ mul(col) }}
        {% endfor %}
    </TR>
    {% endfor %}
</table>